
<div unresolved>
<!-- 
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
 -->

	<div>

      <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
       -->	
        <paper-button class="button raised blue" id="btnShow" onclick="document.querySelector('#toast').show()" ng-click="runSelectionProcess(origin, destination)">
		  	<div class="center">Show Route</div>
	      	<paper-ripple fit></paper-ripple>
	  	</paper-button>
	 
	  <paper-toast id="toast" class="capsule" text="Choose starting bike station!" style="padding-right: 60px;">
	  </paper-toast>

	  <fieldset id="startForm">  	
	  	  <paper-input id="originText" label="Choose starting point..."> 
		  </paper-input>
		  <img id="cur_location_img" src="../images/location.png" ng-click="displayCurrentLocation()" />
	  </fieldset>
	  
	  <div>
	 	  <paper-input id ="destText" label="Choose destination..."> 
		  </paper-input>
	  </div>

    <!-- </div> -->


   <!--  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      hi
    </div> -->
	


	</div>
	<!-- </nav> -->
   
   <div id="map-canvas"></div>
</div>

