<div class="row">
   <input id="test"  type="text"></input>
   <input id="test1" type="text"></input>
   <input id="test2"  type="text"></input>
</div>

<!--<div id="content">
	<div id="container" style="padding: 5px;">
		<img src="../images/bicycle_sport.png" alt="bicycle_icon" width="21" height="21" style="float: left; margin-right:5px;" >
		<div id="racks_text" style="font-size: 18px; font-weight: bold;font-family: Roboto, Arial, sans-serif;">8 min
		</div>
	</div>

		<div id="minutes_text" style="padding-left: 5px;font-size: 10px;font-family: Roboto, Arial, sans-serif;">10 mins</div>
</div> -->