<fieldset id="sampleForm">
    <label for="txtName">Full name</label>
    <input id="txtName" type="text" />
    <label for ="txtDOB">Date of birth</label>
    <input id="txtDOB" type="text" class="inputWithImge" />
    <img src="calendar.png" alt="Click to popup the clendar!" onclick="alert('Popup some calendar here!');" />
    <label for="txtCity">City</label>
    <input id="txtCity" type="text" />
    <label for="txtPostCode">Post code</label>
    <input id="txtPostCode" type="text" />
    <label for="txtCountry">Country</label>
    <input id="txtCountry" type="text" />
    <label for="txtBank">Bank</label>
    <input id="txtBank" type="text" class="inputWithImge" />
    <img src="bank.png" alt="Click to popup the bank window!" onclick="alert('Popup some window here!');" />
</fieldset>
<button id="btnNothingToDo">Do nothing</button>
<script type="text/javascript">
$(document).ready(function() {
    $(".inputWithImge").each(function(){
        $(this).add($(this).next()).wrapAll('<div class="imageInputWrapper"></div>');
    }); 
});
</script>